<h1 style="color:blueviolet">
    AWS Application S3
</h1>

<img src="https://revistabyte.es/wp-content/uploads/2016/07/AWS-Amazon-Web-services-logo.jpg"
     style="width: 250px;height:120px;"/>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="ListFilesAWS" asp-controller="AWSFiles">
            Files AWS
        </a>
    </li>
    <li class="list-group-item">
        <a asp-action="UploadFileAWS" asp-controller="AWSFiles">
            Upload File AWS
        </a>
    </li>
</ul>