<h1 style="color:fuchsia">
    Upload File AWS
</h1>
<a asp-action="Index" asp-controller="AWSFiles">Volver a Index</a>
<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero: </label>
    <input type="file" name="file" class="form-control-file"/>
    <button type="submit" class="btn btn-outline-info">
        Upload File
    </button>
</form>
<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>